<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.clubMapper">

	<select id="getMember" resultType="MemberVO">
		select * from members
		where member_no =#{member_no}
	</select>
	
	<select id="getMemberInterest" resultType="InterestVo">
		select *
		from interests
		where interest_no = ( select interest_no from member_interests where member_no =#{member_no} )
	</select>

	<select id="getInterestNameDetails" resultType="InterestDetailsVo">
		select * from interest_details
		where interest_no=#{interest_no}
	</select>
	
	<insert id="createClub">
		insert into clubs(club_name,club_content,club_image) values(#{club_name},#{club_capacity},#{club_content},#{club_image})
	</insert>
	
	<select id="getClubInfo" resultType="ClubVo">
		select * from clubs
		where club_no=#{club_no}
	</select>

</mapper>