<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joinus.mapper.clubMapper">

	<select id="getMember" resultType="MemberVO">
		select * from members
		where member_no =#{member_no}
	</select>
	
	<select id="getMemberInterest" resultType="InterestVo">
		select *
		from interests
		where interest_no = ( select interest_no from member_interests where member_no =#{member_no} )
	</select>

	<select id="getInterestNameDetails" resultType="InterestDetailsVo">
		select * from interest_details
		where interest_no=#{interest_no}
	</select>
	
	
	<select id="getInterestNo" resultType="InterestDetailsVo">
		select interest_no,interest_detail_no from interest_details 
		where interest_detail_name=#{interest_detail_name}
	</select>
	<insert id="createClub" parameterType="ClubVo">
		insert into clubs(club_name,club_capacity,club_content,club_image)
		values(#{club_name},#{club_capacity},#{club_content},#{club_image})
		<selectKey resultType="Integer" keyProperty="club_no" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="createClubInterest">
		insert into club_interests(club_no,interest_no,interest_detail_no)
		values(#{club_no},#{interest_no},#{interest_detail_no})
	</insert>
	
	<insert id="MemberRolesAdmin">
		insert into club_member_roles(club_role_name) values(2)
		<selectKey resultType="Integer" keyProperty="club_role_name" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="MemberRolesCom">
		insert into club_member_roles(club_role_name) values(1)
		<selectKey resultType="Integer" keyProperty="club_role_name" order="AFTER">
		SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="joinMembers">
		insert into club_members(club_no,member_no,club_role_no)
		values(#{club_no},#{member_no},#{club_role_no})
	</insert>
	
	
	<select id="getClubInfo" resultType="ClubVo">
		select * from clubs
		where club_no=#{club_no}
	</select>

</mapper>